/*Dùng chung cho web*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.home {
    width: 80%;
    margin: 0px auto;
}


/*Phần Header*/

header {
    margin-top: 10px;
}

header .up {
    height: 60px;
}

header .up .left img {
    width: 13%;
    float: left;
}

header .up .mid {
    float: left;
    margin-left: 30px;
    margin-top: 8px;
}

header .up .mid form .search {
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 400px;
}

header .up .mid form .search .vien {
    padding: 10px 10px;
}

header .up .mid form .search .vien i {
    color: #f18121;
}

header .up .mid form .search input {
    outline: none;
    border: none;
    background-color: #f0f0f0;
    color: rgb(129, 129, 129);
    width: 92%;
    padding-left: 7px;
}

header .up .right {
    float: right;
}

header .up .right form input {
    height: 30px;
    width: 110px;
    font-size: 10px;
    margin-top: 0px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f18121;
    color: white;
    border: 1px solid #f18121;
}

header .up .right form input:hover {
    background-color: white;
    color: #f18121;
    border: 1px solid #f18121;
    cursor: pointer;
}

.nav_full {
    width: 100%;
    background-color: #f18121;
}

.nav_full nav {
    width: 80%;
    margin: 0px auto;
    line-height: 40px;
}

.nav_full nav ul {
    list-style: none;
}

nav ul.menu>li {
    display: inline-block;
    position: relative;
    padding-right: 15px;
}

nav ul.menu>li>a {
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 15px;
    line-height: 43px;
}

nav ul.menu>li>a:hover {
    background-color: #ffffff;
    color: #f18121;
    cursor: pointer;
}

nav ul.sub_menu {
    position: absolute;
    background-color: #ffffff;
    width: 1216px;
    display: none;
    margin-left: -86px;
    text-align: left;
    z-index: 1;
}

nav ul.sub_menu>.vien {
    margin-left: 15px;
}

nav ul.sub_menu>.vien>li>a {
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 15px;
}

nav ul.sub_menu>.vien>li>a:hover {
    color: #f18121;
}

nav ul.sub_menu .vien {
    width: 1300px;
    width: 100%;
}

nav ul.sub_menu li {
    padding-left: 0px;
}

nav ul.sub_menu a {
    color: #333;
    padding-right: 50px;
    float: left;
}

nav li:hover ul.sub_menu {
    display: block;
}


/*Phần article*/

article {
    margin: 0px 0px;
}

article .banner {
    float: left;
    width: 100%;
    margin-top: 10px;
}

article .banner {
    position: relative;
    width: 100%;
    height: 350px;
}

article .banner .col_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
}

article .banner .col_1 img {
    height: 172px;
}

article .banner .col_2 {
    position: absolute;
    top: 50.8%;
    left: 0;
    width: 25%;
}

article .banner .col_2 img {
    height: 172px;
}

article .banner .col_3 {
    position: absolute;
    top: 0;
    left: 25.5%;
    width: 49%;
}

article .banner .col_3 img {
    height: 350px;
    image-rendering: pixelated;
}

article .banner .col_4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
}

article .banner .col_4 img {
    height: 172px;
}

article .banner .col_5 {
    position: absolute;
    top: 50.8%;
    right: 0;
    width: 25%;
}

article .banner .col_5 img {
    height: 172px;
}

.banner a {
    text-decoration: none;
    color: white;
}

article .banner .img {
    position: relative;
}

article .banner .img img {
    width: 100%;
}

article .banner .img .ngay_xb {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: #ed9c56;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

article .banner .img .text {
    position: absolute;
    position: absolute;
    bottom: 3%;
    left: 3%;
    padding: 5px 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

article .truyen_svip {
    margin-bottom: 330px;
}

article .truyen_svip h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(252, 215, 83);
}

article .truyen_svip h3 i {
    margin-right: 5px;
}

article .truyen_svip .rol a {
    text-decoration: none;
    color: #000;
}

article .truyen_svip .rol a:hover {
    color: rgb(1, 204, 204);
}

article .truyen_svip .rol {
    width: 100%;
}

article .truyen_svip .rol .col {
    float: left;
    height: 300px;
    width: 16.6666666666666%;
}

article .truyen_svip .rol .col .product {
    position: relative;
}

article .truyen_svip .rol .col .product .img img {
    width: 100%;
    border-radius: 16px;
    padding: 10px 10px;
    height: 290px;
}

article .truyen_svip .rol .col .product .ngay_update {
    position: absolute;
    top: 5%;
    left: 7%;
    border-radius: 5px;
    background-color: #ed9c56;
}

article .truyen_svip .rol .col .product .ngay_update h5 {
    padding: 1px 1px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

article .truyen_svip .rol .col .product .text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

article .truyen_svip .h1_text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    margin-top: 30px;
    color: #ed9c56;
    font-weight: bold;
}


/*Truyện hot*/

article .truyen_hot {
    margin-bottom: 330px;
}

article .truyen_hot h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(252, 83, 83);
}

article .truyen_hot h3 i {
    margin-right: 5px;
}

article .truyen_hot .rol a {
    text-decoration: none;
    color: #000;
}

article .truyen_hot .rol a:hover {
    color: rgb(1, 204, 204);
}

article .truyen_hot .rol {
    width: 100%;
}

article .truyen_hot .rol .col {
    float: left;
    height: 300px;
    width: 16.6666666666666%;
}

article .truyen_hot .rol .col .product {
    position: relative;
}

article .truyen_hot .rol .col .product .img img {
    width: 100%;
    border-radius: 16px;
    padding: 10px 10px;
    height: 290px;
}

article .truyen_hot .rol .col .product .ngay_update {
    position: absolute;
    top: 5%;
    left: 7%;
    border-radius: 5px;
    background-color: #ed9c56;
}

article .truyen_hot .rol .col .product .ngay_update h5 {
    padding: 1px 1px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

article .truyen_hot .rol .col .product .text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

article .truyen_hot .h1_text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    margin-top: 30px;
    color: #ed9c56;
    font-weight: bold;
}


/*Truyện*/

article .truyen h3 {
    margin: 10px 0px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(25, 235, 235);
}

article .truyen h3 i {
    margin-right: 10px;
}

article .truyen a {
    text-decoration: none;
    color: #000;
}

article .truyen a:hover {
    color: rgb(1, 204, 204);
}

article .truyen .col {
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 16.6666666666666%;
    height: 330px;
}

article .truyen .col .img {
    text-align: center;
}

article .truyen .col .img img {
    width: 100%;
    border-radius: 25px;
    padding: 15px 15px;
    height: 300px;
}

article .truyen .col .text p {
    text-align: center;
}

article .truyen .col .text .ngay_update {
    position: absolute;
    top: 6%;
    left: 10%;
    background-color: #ed9c56;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 100;
}

article .truyen .text h4 {
    text-align: center;
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

article .truyen .text h5 {
    padding-top: 10px;
    text-align: center;
    margin-top: -12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


/*Trang 1 2 3 ..... 5 6 7*/

article .trang {
    text-align: center;
    margin: 30px 0px;
}

article .trang a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0px 5px;
    border-radius: 40px;
    border: 1px solid #ccc;
}

article .trang a:hover {
    background-color: #ed9c56;
    color: #ffffff;
}


/*Chi tiết truyện*/

article .nen {
    background-color: #fff;
    padding: 15px;
}

article .nen .trangchu_phim {
    margin-top: 5px;
    margin-bottom: 20px;
}

article .nen .trangchu_phim a {
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

article .nen .trangchu_phim a:hover {
    color: cyan;
}

article .nen .col .product .left {
    float: left;
    width: 20%;
    margin-right: 15px;
}

article .nen .col .product .left .img {
    margin-right: 20px;
    width: 100%;
}

article .nen .col .product .left .img img {
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    width: 100%;
    height: 300px;
}

article .nen .col .product .right {
    width: 60%;
}

article .nen .col .product .right h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 31px;
    margin-bottom: 10px;
}

article .nen .col .product .right table tr {
    height: 25px;
}

article .nen .col .product .right table tr td i {
    width: 20px;
}

article .nen .col .product .right .loai_truyen {
    background-color: red;
    width: 1200px;
}

article .nen .col .product .right .loai_truyen a {
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: #f18121;
    border: 1px solid #f18121;
}

article .nen .col .product .right .loai_truyen a:hover {
    background-color: #ffffff;
    color: #f18121;
    border: 1px solid #f18121;
}

article .nen .col .product .chon {
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

article .nen .col .product .chon a {
    padding: 5px 5px;
    margin-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: #45daf4;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #45daf4;
}

article .nen .col .product .chon a:hover {
    background-color: #ffffff;
    color: #45daf4;
    border: 1px solid #45daf4;
}

article .gioi_thieu h3 {
    margin-top: 10px;
    color: #ff7700;
}

article .gioi_thieu h3 i {
    margin-right: 10px;
}

article .gioi_thieu p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    color: rgb(71, 71, 71);
}

article .binh_luan h3 {
    margin-top: 10px;
    color: #ff7700;
}

article .binh_luan h3 i {
    margin-right: 10px;
}


/*Đọc truyện*/

article .truyen_doc {
    margin-bottom: 50px;
}

article .truyen_doc .title_truyen {
    background-color: #fff;
    text-align: center;
    height: 200px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

article .truyen_doc .title_truyen a {
    line-height: 40px;
    text-decoration: none;
    color: #000;
}

article .truyen_doc .title_truyen a:hover {
    color: cyan;
}

article .truyen_doc .title_truyen h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

article .truyen_doc .title_truyen h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff983e;
    font-size: 30px;
}

article .truyen_doc .img_comic {
    text-align: center;
}

article .truyen_doc .img_comic img {
    width: 900px;
    margin: 0px auto;
}


/*Phần footer*/

footer .footer_back {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-bottom: 20px;
}

footer .footer_back .left .img img {
    width: 20%;
}

footer .footer_back .left .text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

footer .footer_back .right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(70, 70, 70);
}


/*Phần chung cho web*/

.kc {
    width: 70px;
}

.vien_footer {
    width: 100%;
    height: 5px;
    background-color: #f18121;
    border: 1px solid #f18121;
}

.clear {
    clear: both;
}


/* login và register */

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/*Home admin*/

.home_admin {
    color: #000;
    margin: 0px auto;
    height: 350px;
    width: 80%;
}

.home_admin .ul {
    padding-top: 10px;
    padding-left: 26%;
}

.home_admin h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.home_admin h4 {
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.home_admin p {
    padding-top: 10px;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}

.home_admin li {
    margin-left: 30px;
}

.home_admin .back_website {
    text-align: center;
    margin-top: 30px;
}

.home_admin .back_website a {
    color: black;
    padding: 15px 15px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    border: 1px solid #ed9c56;
}

.home_admin .back_website a:hover {
    color: #ed9c56;
    border: 1px solid #ed9c56;
}


/*Text-login*/

.text_login {
    height: 1px;
    font-size: 14px;
}


/*coin*/

article .coin_thanh_toan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

article .bang_coin {
    margin: 30px 0px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

article .bang_coin tr td span {
    color: red;
}

article .bang_coin,
article .bang_coin tr,
article .bang_coin tr td {
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    border-collapse: collapse;
}

article .thanh_toan {
    font-family: 'Roboto', sans-serif;
    margin: 30px 0px;
    margin-left: 100px;
    width: 70%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
}

article .thanh_toan,
article .thanh_toan tr,
article .thanh_toan tr td {
    border-collapse: collapse;
    border-radius: 10px;
}

article .thanh_toan tr td {
    padding: 10px 0px;
}

article .thanh_toan tr td img {
    float: right;
    width: 50%;
    margin-right: 10px;
    height: 50px;
}

article .thanh_toan tr td p {
    float: left;
    padding-top: 10px;
    margin-left: 10px;
}

article .thanh_toan tr td span {
    padding-top: 10px;
    float: right;
    margin-right: 10px;
}

article .thanh_toan tr td select {
    width: 100%;
    float: left;
    outline: none;
    padding-top: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

article .thanh_toan tr td input {
    background: #ff973c;
    color: #ffffff;
    padding: 6px 6px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #ff973c;
}

article .thanh_toan tr td input:hover {
    background-color: #fff;
    border: 1px solid #ff973c;
    color: #ff973c;
    cursor: pointer;
}


/*Chi tiết hóa đơn*/

article .ct_coin {
    font-family: 'Roboto', sans-serif;
    margin: 30px auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 15px #ccc;
    border-radius: 10px;
    width: 50%;
}

article .ct_coin tr td {
    padding: 10px 0px;
}

article .ct_coin tr td h1 {
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 194, 89);
    padding: 10px 0px;
}

article .ct_coin tr td p {
    float: left;
    margin-left: 10px;
    padding-top: 10px;
}

article .ct_coin tr td input {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

article .ct_coin tr td button {
    background: #ff973c;
    color: #ffffff;
    padding: 6px 6px;
    border-radius: 8px;
    border: 1px solid #ff973c;
    font-size: 15px;
}

article .ct_coin tr td button:hover {
    background-color: #fff;
    border: 1px solid #ff973c;
    color: #ff973c;
}


/*Coin*/

.coin {
    float: right;
    font-weight: bold;
}


/*Hóa đơn*/

article .hoa_don_h1 {
    margin-top: 15px;
    color: rgb(255, 188, 44);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
}

article .hoa_don_h1 i {
    margin-right: 10px;
}

article .hoa_don {
    text-align: center;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 5px;
}

article .hoa_don tr th {
    padding: 10px;
    border: 1px solid rgb(235, 235, 235);
}

article .hoa_don tr td {
    padding: 10px;
    border: 1px solid rgb(235, 235, 235);
}

.vien {
    border: 0.5px solid rgb(236, 236, 236);
}

.content {
    min-height: 100vh;
    background-image: url('../img/modern-abstract-technology-background-design-vector-illustration_29865-5251.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
/*Chapter*/
.chapter{
    width: 100%;
    border: 1px solid rgb(233, 233, 233);
}
.chapter tr td{
    padding: 5px;
}
.chapter tr th{
    padding: 5px;
}
/*next chapter*/
.left_prive{
    float: left;
}
.right_next{
    float: right;
}